.App {
	text-align: center;
}

.navBar {
	width: 100%;
	height: 50px;
	background-color: blueviolet;
	display: flex;
	justify-content: center;
}
.menuMain {
	background-color: red;
	width: 1179px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
